@page
@model CreateUser
@{
    ViewData["Title"] = "Create User";
}

<style>
    body{
        background-color: #F5F5F5;
    }

    .container{
        background-color: #F0F8FF;
    }
</style>

<h1>Become a Member:</h1>

<hr />

<div class="container">
    <form method ="post">
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="control-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>