@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h3>Welcome to the Book Nook!</h3>
<p class ="card-title">A platform designed for book lovers to connect with one another and stay updated on the best and latest novels. </p>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Members</h5>
                <p class="card-text">Browse members</p>
                <form method="post">
                    <button type="submit" asp-page-handler="GoToUsers" class="btn btn-primary">Go to Members</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Books</h5>
                <p class="card-text">Browse and manage books</p>
                <form method="post">
                    <button type="submit" asp-page-handler="GoToBooks" class="btn btn-primary">Go to Books</button>
                </form>
            </div>
        </div>
    </div>
</div>



