@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<style>
    .jumbotron {
        background-color: #f8f8f8;
        padding: 30px;
    }

    .jumbotron h1{
        font-size: 36px;
        margin-bottom: 20px;
    }

    .jumbotron p{
        font-size: 18px;
        color: #555;
    }

    .card {
        margin-bottom: 20px;
    }

    .card-title{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .card-text{
        font-size: 16px;
        color: #777;
    }

    .gap{
        margin-bottom: 20px;
    }

    body{
        background-color: #F5F5F5;
    }

    .container{
        background-color: #F0F8FF;
    }

</style>
<div class="jumbotron text-center">
<h2>Welcome to the Book Nook!</h2>
<p>A platform designed for book lovers to connect with one another and stay updated on the best and latest novels!</p>

<div class="row gap">
    <div class="col-4 mx-auto">
    <img src="https://i.pinimg.com/originals/42/1f/51/421f518ecf98349e7331d51dc66098f9.jpg" class="img-fluid" alt="Book Nook Image(2)" style="max-width: 400px">
</div>
</div>
</div>
<hr />


<div class="row gap">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Members</h5>
                <p class="card-text">Browse Members and connect with fellow book enthusiasts.</p>
                <form method="post">
                    <button type="submit" asp-page-handler="GoToUsers" class="btn btn-secondary">Go to Members</button>
                </form>
            </div>
        </div>
        </div>


        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Books</h5>
                    <p class="card-text">Discover and manage a wide collection of books from various genres.</p>
                    <form method="post">
                        <button type="submit" asp-page-handler="GoToBooks" class="btn btn-secondary">Go to Books</button>
                    </form>
                </div>
            </div>
        </div>


    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Become a Member</h5>
                <p class="card-text">Join the Book Nook community and start sharing your favorite books.</p>
                <a asp-page="/CreateUser" class="btn btn-secondary">Create Account</a>
            </div>
        </div>
    </div>
    </div>


